node_modules
dist
dist-ssr
build
coverage
*.local
*.log
.DS_Store
vite.config.ts
vite.config.js
postcss.config.js
tailwind.config.js
tsconfig*.json
*.d.ts
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.woff
*.woff2
*.ttf
*.eot
